*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}

.zakazGeneralImg{
    position: relative;
    width: calc(100% + 200px);
    left: -100px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 370px;
    background-position: center;
    background-image: url(../images/zakazwear.png);
}

.line{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
}
.line h4{
    font-size: 14px;
}

.zakazN0{
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zakazN0 h1{
    font-weight: 200;
    margin: 40px;
}

.zakazTable{
    width: 800px;
}

.zakazLine{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fristTable{
    width: 820px;
    border-collapse: collapse;
}

.zakazTable tr td {
    height: 100px;
}

.zakazTable .tableHeader{
    color: rgb(155, 154, 151);
    height: 50px;
    background-color: rgb(212, 211, 207);
}


.hiring{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.hiringImage{
    width: 35%;
}

.hiringImage img{
   width: 100%;

}

.hiringText{
    margin-top: 15px;
    width: 60%;
}

.hiringText span{
    font-size: 12px;
    font-weight: 700;
}

.hiringText p{
    font-family:  'Times New Roman', bold;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
}

.amount{
    margin-top: 15px;
    width: 10%;
    display: flex;
    height: 40px;
}

.amount button{
    cursor: pointer;
}

.amount button i{
    width: 35px;
}

.amount input{
    width: 70px;
}

.price{
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
}

.color{
    margin-top: 15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(140, 146, 231);
}

.size{
    margin-top: 15px;
}

.delete a i{ 
    margin-top: 15px;
    color: rgb(27, 27, 121);
    font-size: 25px;
}

.dannie{
    height: 480px;
    width: 280px;  
    background-color: rgb(212, 211, 207);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.shaxsiyMalumot h2{
    margin-left: 15px;
    font-weight: bold;
}

.malumot{
    margin-left: 15px;
    width: 90%;
    height: 40px;
    background-color: #fff;
}

.malumot p{
    color: rgb(155, 154, 151);
    margin-left: 5px;
    margin-top: 10px;
    font-size: 14px;
}

.allProduct{
    width: 670px;
}

.allProduct h1{
    color: #003466;
    font-weight: bold;
}