<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/catalog.css">
    <script src="./js/catalog.js" defer></script>
    <title>Document</title>
</head>
<body>
    <div class="catalogGeneralImage"></div>

    <div class="path">
        <h4>Главная страница /  Для мужшин / Рубашки</h4>
    </div>

    <!-- >>>>>>>>>>>>>> Main <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->

    <div class="generalContent">

        <div class="filter">

            <div class="input">
                <input type="text" placeholder="Поиск...">
                <i class="fas fa-search"></i>
            </div>

            <div class="filterList">
                <div class="forMenFilter">

                    <div class="filterName">
                        <h3>Для мужшин</h3>
                        <i class="fas fa-chevron-down"></i>
                    </div>

                    <div class="filterBefore">

                    </div>
                </div>
                <hr class="horizontal">
                <div class="forWomenFilter">

                    <div class="filterName">
                        <h3>Для женшин</h3>
                        <i class="fas fa-chevron-down"></i>
                    </div>

                    <div class="filterBefore">

                    </div>
                </div>
                <hr class="horizontal">
                <div class="forChildrenFilter">

                    <div class="filterName">
                        <h3>Для детей</h3>
                        <i class="fas fa-chevron-down"></i>
                    </div>

                    <div class="filterBefore">

                    </div>
                </div>
            </div>
            
        </div>

        <div class="rightContent">
            <div class="card">
                <div class="cardBox">
                    <div class="imagePiece">
                        <img src="./images/one.png" alt="">
                        <div class="leftRight">
                            <div class="arrow">
                                <i class="fas fa-chevron-left"></i>
                            </div>
                            <div class="arrow">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="cardContent">
                        <div class="textContent">
                            <h3>ZARA</h3>
                            <p>Рубашка с контрастным дизайном</p>
                            <h5>100 000 cум</h5>
                        </div>
                        <div class="dots">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                        <button>Добавить в корзину</button>
                    </div>
                </div>
                <div class="cardBox">
                    <div class="imagePiece">
                        <img src="./images/two.png" alt="">
                        <div class="leftRight">
                            <div class="arrow">
                                <i class="fas fa-chevron-left"></i>
                            </div>
                            <div class="arrow">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="cardContent">
                        <div class="textContent">
                            <h3>ZARA</h3>
                            <p>Рубашка с контрастным дизайном</p>
                            <h5>100 000 cум</h5>
                        </div>
                        <div class="dots">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                        <button>Добавить в корзину</button>
                    </div>
                </div>
                <div class="cardBox">
                    <div class="imagePiece">
                        <img src="./images/three.png" alt="">
                        <div class="leftRight">
                            <div class="arrow">
                                <i class="fas fa-chevron-left"></i>
                            </div>
                            <div class="arrow">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="cardContent">
                        <div class="textContent">
                            <h3>ZARA</h3>
                            <p>Рубашка с контрастным дизайном</p>
                            <h5>100 000 cум</h5>
                        </div>
                        <div class="dots">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                        <button>Добавить в корзину</button>
                    </div>
                </div>
                <div class="cardBox">
                    <div class="imagePiece">
                        <img src="./images/three.png" alt="">
                        <div class="leftRight">
                            <div class="arrow">
                                <i class="fas fa-chevron-left"></i>
                            </div>
                            <div class="arrow">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="cardContent">
                        <div class="textContent">
                            <h3>ZARA</h3>
                            <p>Рубашка с контрастным дизайном</p>
                            <h5>100 000 cум</h5>
                        </div>
                        <div class="dots">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                        <button>Добавить в корзину</button>
                    </div>
                </div>
                <div class="cardBox">
                    <div class="imagePiece">
                        <img src="./images/three.png" alt="">
                        <div class="leftRight">
                            <div class="arrow">
                                <i class="fas fa-chevron-left"></i>
                            </div>
                            <div class="arrow">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="cardContent">
                        <div class="textContent">
                            <h3>ZARA</h3>
                            <p>Рубашка с контрастным дизайном</p>
                            <h5>100 000 cум</h5>
                        </div>
                        <div class="dots">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                        <button>Добавить в корзину</button>
                    </div>
                </div>
                <div class="cardBox">
                    <div class="imagePiece">
                        <img src="./images/three.png" alt="">
                        <div class="leftRight">
                            <div class="arrow">
                                <i class="fas fa-chevron-left"></i>
                            </div>
                            <div class="arrow">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="cardContent">
                        <div class="textContent">
                            <h3>ZARA</h3>
                            <p>Рубашка с контрастным дизайном</p>
                            <h5>100 000 cум</h5>
                        </div>
                        <div class="dots">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                        <button>Добавить в корзину</button>
                    </div>
                </div>
                <div class="cardBox">
                    <div class="imagePiece">
                        <img src="./images/three.png" alt="">
                        <div class="leftRight">
                            <div class="arrow">
                                <i class="fas fa-chevron-left"></i>
                            </div>
                            <div class="arrow">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="cardContent">
                        <div class="textContent">
                            <h3>ZARA</h3>
                            <p>Рубашка с контрастным дизайном</p>
                            <h5>100 000 cум</h5>
                        </div>
                        <div class="dots">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                        <button>Добавить в корзину</button>
                    </div>
                </div>
                <div class="cardBox">
                    <div class="imagePiece">
                        <img src="./images/three.png" alt="">
                        <div class="leftRight">
                            <div class="arrow">
                                <i class="fas fa-chevron-left"></i>
                            </div>
                            <div class="arrow">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="cardContent">
                        <div class="textContent">
                            <h3>ZARA</h3>
                            <p>Рубашка с контрастным дизайном</p>
                            <h5>100 000 cум</h5>
                        </div>
                        <div class="dots">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                        <button>Добавить в корзину</button>
                    </div>
                </div>
                <div class="cardBox">
                    <div class="imagePiece">
                        <img src="./images/three.png" alt="">
                        <div class="leftRight">
                            <div class="arrow">
                                <i class="fas fa-chevron-left"></i>
                            </div>
                            <div class="arrow">
                                <i class="fas fa-chevron-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="cardContent">
                        <div class="textContent">
                            <h3>ZARA</h3>
                            <p>Рубашка с контрастным дизайном</p>
                            <h5>100 000 cум</h5>
                        </div>
                        <div class="dots">
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                            <div class="dot"></div>
                        </div>
                        <button>Добавить в корзину</button>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>