<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/homePage.css">
    <title>Document</title>
</head>
<body>
    <div class="imageContainer">
        <!-- <img src="./images/girlTwo.jpg" alt=""> -->
    </div>

    <!-- >>>>>>>>>>> Brand <<<<<<<<<<<<<<<<<<<<<<<<<<<<, -->

    <div class="brand">
        <h1>БРЕНДЫ <%= translation.title%></h1>
        <div class="brandContainer">
            <h2>&lsaquo;</h2>
            <div class="brandBox">
                <div class="brandContent">
                    <img src="./images/zara.png" alt="">
                </div>
                <h3>Zara</h3>
            </div>
            <div class="brandBox">
                <div class="brandContent">
                    <img src="./images/nike.png" alt="">
                </div>
                <h3>Nike</h3>
            </div>
            <div class="brandBox">
                <div class="brandContent">
                    <img src="./images/mac.png" alt="">
                </div>
                <h3>Mac</h3>
            </div>
            <div class="brandBox">
                <div class="brandContent">
                    <img src="./images/vichy.png" alt="">
                </div>
                <h3>Vichy</h3>
            </div>
            <div class="brandBox">
                <div class="brandContent">
                    <img src="./images/clarins.png" alt="">
                </div>
                <h3>Clarins</h3>
            </div>
            <div class="brandBox">
                <div class="brandContent">
                    <img src="./images/elle.png" alt="">
                </div>
                <h3>Elle</h3>
            </div>
            <div class="brandBox">
                <div class="brandContent">
                    <img src="./images/penti.png" alt="">
                </div>
                <h3>Penti</h3>
            </div>
            <h2>&rsaquo;</h2>
        </div>
    </div>

    <!-- >>>>>>>>>>>>>>> New Collection <<<<<<<<<<<<<<<<<<<<<< -->

    <div class="newCollection">
        <h1>НОВАЯ КОЛЛЕКЦИЯ</h1>
        <div class="clothesIconContainer">
            <div class="clothesIconBox">
                <img src="./images/general.png" alt="">
                <h3>Общее</h3>
            </div>
            <div class="clothesIconBox">
                <img src="./images/for girls.png" alt="">
                <h3>Для женщин</h3>
            </div>
            <div class="clothesIconBox">
                <img src="./images/smoking.png" alt="">
                <h3>Для мужчин</h3>
            </div>
            <div class="clothesIconBox">
                <img src="./images/for boys.png" alt="">
                <h3>Для детей</h3>
            </div>
        </div>
    </div>

    <!-- >>>>>>>>>>>>>>>>> Card <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->

    <div class="card">
        <div class="cardBox">
            <div class="imagePiece">
                <img src="./images/one.png" alt="">
                <div class="leftRight">
                    <div class="arrow">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                    <div class="arrow">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="cardContent">
                <div class="textContent">
                    <h3>ZARA</h3>
                    <p>Рубашка с контрастным дизайном</p>
                    <h5>100 000 cум</h5>
                </div>
                <div class="dots">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <button>Добавить в корзину</button>
            </div>
        </div>
        <div class="cardBox">
            <div class="imagePiece">
                <img src="./images/two.png" alt="">
                <div class="leftRight">
                    <div class="arrow">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                    <div class="arrow">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="cardContent">
                <div class="textContent">
                    <h3>ZARA</h3>
                    <p>Рубашка с контрастным дизайном</p>
                    <h5>100 000 cум</h5>
                </div>
                <div class="dots">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <button>Добавить в корзину</button>
            </div>
        </div>
        <div class="cardBox">
            <div class="imagePiece">
                <img src="./images/three.png" alt="">
                <div class="leftRight">
                    <div class="arrow">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                    <div class="arrow">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="cardContent">
                <div class="textContent">
                    <h3>ZARA</h3>
                    <p>Рубашка с контрастным дизайном</p>
                    <h5>100 000 cум</h5>
                </div>
                <div class="dots">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <button>Добавить в корзину</button>
            </div>
        </div>
        <div class="cardBox">
            <div class="imagePiece">
                <img src="./images/four.png" alt="">
                <div class="leftRight">
                    <div class="arrow">
                        <i class="fas fa-chevron-left"></i>
                    </div>
                    <div class="arrow">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="cardContent">
                <div class="textContent">
                    <h3>ZARA</h3>
                    <p>Рубашка с контрастным дизайном</p>
                    <h5>100 000 cум</h5>
                </div>
                <div class="dots">
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                    <div class="dot"></div>
                </div>
                <button>Добавить в корзину</button>
            </div>
        </div>
    </div>

    <!-- >>>>>>>>>>>>>>>>> Banner <<<<<<<<<<<<<<<<<<<<<<<<<<<< -->

    <div class="banner">
        <img src="./images/banner.png" alt="">
    </div>

    <!-- >>>>>>>>>>>>>>>> Top <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->

    <div class="top">
        <h1>ХИТЫ ПРОДАЖ</h1>
        <div class="card">
            <div class="cardBox">
                <div class="imagePiece">
                    <img src="./images/one.png" alt="">
                    <div class="leftRight">
                        <div class="arrow">
                            <i class="fas fa-chevron-left"></i>
                        </div>
                        <div class="arrow">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
                <div class="cardContent">
                    <div class="textContent">
                        <h3>ZARA</h3>
                        <p>Рубашка с контрастным дизайном</p>
                        <h5>100 000 cум</h5>
                    </div>
                    <div class="dots">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                    <button>Добавить в корзину</button>
                </div>
            </div>
            <div class="cardBox">
                <div class="imagePiece">
                    <img src="./images/five.png" alt="">
                    <div class="leftRight">
                        <div class="arrow">
                            <i class="fas fa-chevron-left"></i>
                        </div>
                        <div class="arrow">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
                <div class="cardContent">
                    <div class="textContent">
                        <h3>ZARA</h3>
                        <p>Рубашка с контрастным дизайном</p>
                        <h5>100 000 cум</h5>
                    </div>
                    <div class="dots">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                    <button>Добавить в корзину</button>
                </div>
            </div>
            <div class="cardBox">
                <div class="imagePiece">
                    <img src="./images/six.png" alt="">
                    <div class="leftRight">
                        <div class="arrow">
                            <i class="fas fa-chevron-left"></i>
                        </div>
                        <div class="arrow">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
                <div class="cardContent">
                    <div class="textContent">
                        <h3>ZARA</h3>
                        <p>Рубашка с контрастным дизайном</p>
                        <h5>100 000 cум</h5>
                    </div>
                    <div class="dots">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                    <button>Добавить в корзину</button>
                </div>
            </div>
            <div class="cardBox">
                <div class="imagePiece">
                    <img src="./images/seven.png" alt="">
                    <div class="leftRight">
                        <div class="arrow">
                            <i class="fas fa-chevron-left"></i>
                        </div>
                        <div class="arrow">
                            <i class="fas fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
                <div class="cardContent">
                    <div class="textContent">
                        <h3>ZARA</h3>
                        <p>Рубашка с контрастным дизайном</p>
                        <h5>100 000 cум</h5>
                    </div>
                    <div class="dots">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                    </div>
                    <button>Добавить в корзину</button>
                </div>
            </div>
        </div>
        <button class="end">
            <i class="fas fa-sync-alt"></i>
            Eщё
        </button>
    </div>
</body>
</html>
